app-cassette {
  .reel {
      &.left { transform-origin:60px 80px}
      &.right { transform-origin:240px 80px}
    }   
}

.loading app-cassette .reel {
    stroke-width: 3px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
